.form-input {
    height: 100px;
    justify-content: center;
    align-items: center;
    background-color: rgb(225, 224, 224);
}

.input-field{
    height: 25px;
    width: 200px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
    border: 2px solid green;
    border-radius: 7px;
}

.button-add{
    height: 30px;
    width: 70px;
    color: white;
    background-color: blue;
    border-radius: 5px;
    border: none;
}